extends layout

block content
    .jumbotron
        h1 欢迎使用#{Site.Title}管理系统
        p
            a.btn.btn-link(href='/admin/users') 用户列表(#{userCount}条)
            a.btn.btn-link(href='/topics') 文章列表(#{topicCount}条)
