extends layout

block content
    .jumbotron
        h3 今日头条
        p 威锋网 12 月 14 日消息，根据外媒报道，目前苹果禁止没有经过注册非开发者设备更新 iOS 测试固件。在 iOS 7 之前，非开发者用户也可以安装测试版本的固件，只要用户在安装固件的时候选择“更新”而不是“恢复”即可。
    .jumbotron
        p
            a.btn.btn-link(href='/admin/users') 用户管理(#{userCount}条)
            a.btn.btn-link(href='/admin/topics') 文章管理(#{topicCount}条)
