extends ../layout

block content
    nav.navbar.navbar-default
        form.navbar-form.navbar-left(role="search")
            .form-group
                label.sr-only 搜索
                input.form-control(type="text",placeholder="Search")
            button.btn.btn-default(type="submit") 搜索
            a.btn.btn-primary(href="/topics/add",style="margin-left:30px;") 发表文章
    table.table.table-striped#tblList
        thead
            tr
                th 标题
                th 作者
                th 发表时间
                th 最后评论
                th 操作
        tbody
            tr(v-for="t in topics", id='{{t._id}}')
                td
                    a(href='/topic/{{t._id}}') {{t.title}}
                td {{t.author.username}}
                td
                    span.timeSpan {{t.created_at}}
                td
                    span.timeSpan {{t.comment_at}}
                td
                    a.btn.btn-xs.btn-primary(href="/topic/edit/{{t._id}}") 修改
                    button.btn.btn-xs.btn-danger 删除

    {{{pager}}}
        
block script
    include list_js.jade
