extends ../layout

block content
  #login.content
    form#formLogin.formLittle
        #email.input-group
            span.input-group-addon 账　号
            input.form-control(type="text",name="email")
        span.error-block
        #password.input-group
            span.input-group-addon 密　码
            input.form-control(type="password",name="password")
        span.error-block
        p
        button.btn.btn-primary.btn-block#btnSave 登录
        span.error-block
        
block script
    script(type='text/javascript').
        require(['jquery', 'ajax'], function ($, ajax) {
            $(function(){
                $(document).on('click', '#btnSave', function(e){
                    ajax.SubmitForm('/api/user/login','formLogin',e.target,function(json){location.href='/';});
                });
            });
        });