extends ../layout

block content
  #register.content
      form#formRegister.formLittle
        #email.input-group
            span.input-group-addon 邮　箱
            input.form-control(type="text",name="email")
        span.error-block
        #mobile.input-group
            span.input-group-addon 手　机
            input.form-control(type="text",name="mobile")
        span.error-block
        #username.input-group
            span.input-group-addon 姓　名
            input.form-control(type="text",name="username")
        span.error-block
        #password.input-group
            span.input-group-addon 密　码
            input.form-control(type="password",name="password")
        span.error-block
        p
        button.btn.btn-primary.btn-block#btnSave 注册新用户
        span.error-block

block script
    script(type='text/javascript').
        require(['jquery', 'ajax'], function ($, ajax) {
            $(function(){
                $(document).on('click', '#btnSave', function(e){
                    ajax.SubmitForm('/api/user/register','formRegister',e.target,function(json){location.href='/login';});
                });
            });
        });