extends ../layout

block content
  #edittopic.content.hidden
      form#formTopic.formLarge
        #title.input-group
            span.input-group-addon 标　题
            input.form-control(type="text",name="title", v-model="title", placeholder="请输入标题")
        span.error-block
        #tags.input-group
            span.input-group-addon 关键字
            input.form-control(type="text",name="tags", v-model="tags", placeholder="请输入关键词")
        span.error-block
        #thumb.input-group
            span.input-group-addon 缩略图
            input.form-control(type="text",name="thumb", v-model="thumb._id", placeholder="请上传缩略图")
        span.error-block
        #content.input-group
            textarea#txtContent.form-control(name="content",style="height:300px", v-model="content")
        span.error-block
        p
        button.btn.btn-primary.btn-block#btnSave 保存
        span.error-block

block script
    include edit_js.jade