extends ../layout

block content
  #topiclist.content.hidden
        .media(v-for="t in topics")
            a.pull-left(href='/topic/{{t._id}}')
                .media-object(v-thumbimage='t')
            div.media-body
                h4.media-heading
                    a(href='/topic/{{t._id}}') {{t.title}}
                p {{{t.summary}}}
                p
                    span.timeSpan {{t.updated_at}}

        {{{pager}}}
        
block script
    include list_js.jade
